# MySQL connection
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=stallion
MYSQL_PASSWORD=app_pass1234
MYSQL_DATABASE=Lagrange

# app route prefix
FASTIFY_ROUTE_PREFIX=/math-learning

# JWT signing secret (use a long random string in production)
JWT_SECRET=870c03eddf8d8c0aa71ed27c95554829fbe2

# Register validation code (to prevent unauthorized public registration)
REGISTER_VALIDATION_CODE=your_secret_code_here
